<div class="mdl-grid">
<div class="mdl-card mdl-cell mdl-cell--8-col">
	<div class="mdl-card__supporting-text" id="get_address_results">
		<h3>Your local {{party}} Party seats</h3>

		{{> disclaimer }}
		<h4>Assembly District: {{ad}}</h4>

		<h4>Election District: {{ed}}</h4>

		<p class="disclaimer">
		Manhattan, Bronx & Richmond currently do not show appointed members. Vacancies could have members appointed to them. Appointments (along with all county committee seats) expire at the end of every term.
		</p>


		{{#if partyPositionsToBeFilled}}
			<h5>Petitioning season for this County Committee starts <strong>June 5th</strong>. Below are the petitionable seats for the upcoming election:</h5>
			
			{{> table members=partyPositionsToBeFilled}}
			<div class="petition-cta">
			<a class="mdl-button mdl-button mdl-button--raised mdl-button--colored" target="_blank" href="/how-to-run-for-county-committee">
			  Learn how to petition!
			</a>
			</div>
			<div class="petition-cta">
				<a class="mdl-button mdl-button mdl-button--raised mdl-button--colored" target="_blank" href="/{{decountySlug county}}-{{slugify party}}-county-committee/ad/{{ad}}">
				See all CC seats you can petition for in your AD
				</a>
			</div>


		{{/if}}
		

		{{#if error}}

		<h4><i class="material-icons">error_outline</i>  Sorry we do not have seat information for this district yet. Consider <a href="https://goo.gl/forms/BpeKaPz7rSa4hXdU2" target="_blank">volunteering</a> to help get this info!</h4>
		{{else}}

		<h5>Your current county committee reps</h5>
			{{> table }}

		{{/if}}



	</div>
	<div class="mdl-card__supporting-text">
			{{> gmap}}
			{{> include_gmap_and_autocomplete}}
	</div>
</div>
{{> sidebar}}
</div>