<div class="mdl-grid">
	<div class="mdl-card mdl-cell mdl-cell--8-col">
		<div class="mdl-card__supporting-text" id="get_address_results">
			<h3>Your local {{party}} Party seats for<br />AD: {{ad}}{{#if part}} Part {{part}}{{/if}} / ED: {{ed}} NOTE: These EDs will change for next election </h3>
			{{> disclaimer }}
			<p class="disclaimer">
				<strong>* Appointed members not yet available for this district. Members showing as "vacancy" may have
					members appointmented.</strong>
			</p>
			{{#if error}}
			<h4><i class="material-icons">error_outline</i> Sorry we do not have seat information for this district yet.
				Consider <a href="https://goo.gl/forms/BpeKaPz7rSa4hXdU2" target="_blank">volunteering</a> to help get
				this info!</h4>
			{{else}}
			{{!-- <h6>County: {{county}} | Party: {{party}} | AD: {{ad}} | ED: {{ed}} | Term:
				{{dateFormat term.start_date "MM/YYYY"}} — {{dateFormat term.end_date "MM/YYYY"}}</h6> --}}
			{{#if enrollment}}
			{{#if_eq party 'Democratic'}}

      <h6>Maps have been recently changed due to redistictricting for 2022. Updates to maps on site pending. Please check back later.</h6>
			{{!-- <h6>Active Democratic voters in ED: {{enrollment.active.democrat}} | Approximate signatures required*:
				{{enrollment.demSignaturePercentage}}</h6>
			{{/if_eq}}
			{{#if_eq party 'Republican'}}
			<h6>Active Republican voters in ED: {{enrollment.active.democrat}} | Approximate signatures required*:
				{{enrollment.repSignaturePercentage}}</h6> --}}
			{{/if_eq}}
			{{/if}}
			{{#if partyPositionsToBeFilled}}
			<hr />
			<h3>Party Call</h3>

			<p>Below are the petitionable seats for the upcoming election:</p>
			{{> table members=partyPositionsToBeFilled}}

			<div class="detail-buttons">
				<a class="mdl-button mdl-button mdl-button--raised mdl-button--colored" target="_blank"
					href="https://www.vote.nyc.ny.us/html/voters/maps.shtml">
					ED/AD Maps
				</a>
				<a class="mdl-button mdl-button mdl-button--raised mdl-button--colored" target="_blank"
					href="https://www.vote.nyc.ny.us/html/forms/enrollment.shtml">
					Voter Enrollment
				</a>
				<a class="mdl-button mdl-button mdl-button--raised mdl-button--colored" target="_blank"
					href="https://bit.ly/3bXyPAa">
					Learn how to petition!
				</a>
				<a class="mdl-button mdl-button mdl-button--raised mdl-button--colored" target="_blank"
					href="https://www.elections.ny.gov/PoliticalCalendar.html">
					Political Calendar
				</a>
			</div>
			{{/if}}
			<hr />
			<h3>Current County Committee Members</h3>
			{{> table }}
			{{/if}}

		</div>
		{{!-- <div class="mdl-card__supporting-text">
			<hr />
			<h3>Assembly District</h3>
			{{> gmap}}
			{{> include_gmap_and_autocomplete}}
		</div> --}}
	</div>
	{{> sidebar}}
</div>
