<head>
	{{> material_design}}
	{{> amp_header}}
	{{> amp_form}}
	{{> amp_iframe}}
</head>
<body>
  {{> addressform}}

  <p>Results for: {{address}}</p>
	lat: {{lat}}, long: {{long}}, ad: {{ad}}, ed: {{ed}}

	<h3>Seats</h3>
	<ul>
	{{^members}} No members found. {{/members}}
	{{#members}}
		<li>{{office}} &mdash; {{office_holder}}</li>
	{{/members}}
	</ul>


	<amp-iframe width="600" height="400" layout="responsive" sandbox="allow-scripts allow-popups" frameborder="0" src="/gmapsjs?lat={{lat}}&long={{long}}&ad={{ad}}">
		<!-- we need a placeholder img so that the iframe doesn't have to be 600px from the page top -->
		<amp-img layout="fill" src="http://i.imgur.com/TYzy58b.jpg" placeholder></amp-img>
	</amp-iframe>

</body>
