<head>
  <title>Simple Map</title>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">

  <style>
    /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
    #map {
      height: 100%;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>

  <!-- TODO: fetch this from our server, instead -->
	<script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.core.min.js"></script>
</head>
<body>
  <div id="map"></div>
  <script>
		var infoWindow;
    var map;

    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: { lat: {{lat}}, lng: {{long}} },
        zoom: 14
      });

			infoWindow = new google.maps.InfoWindow;

			new google.maps.Marker({
        position: { lat: {{lat}}, lng: {{long}} },
        map: map
      });

			// need to use this because the scope is screwy
			var makePolygon = function(paths, color, contentString) {
				new google.maps.Polygon({
					paths: paths,
					strokeColor: color,
					strokeOpacity: 0.9,
					strokeWeight: 2,
					fillColor: color,
					fillOpacity: 0.8,
					map: map
				})
				.addListener('click', function(event) {
					infoWindow.setContent(contentString);
	        infoWindow.setPosition(event.latLng);

	        infoWindow.open(map);
				});
			};

			var geomDocs = {{{geomDocs}}};
      var filledColor = '#2825E3';
      var vacantColor = '#E32525';
      var nodataColor = '#FFFFFF';

			_.forEach(geomDocs, function(doc) {
        var coordinates = doc.co;
        var ed = doc.ed;
        var numOfSeats = doc.ns;
        var numOfFilledSeats = doc.nf;

        var infoStringStart = 'Election District: ' + ed + '<br />';
        var infoString, color;

        if (numOfSeats === 0) {
          infoString = infoStringStart + 'No seat data';
          color = nodataColor;
        }
        else {
          color = (numOfFilledSeats === numOfSeats) ? filledColor : vacantColor;
          infoString = infoStringStart + 'Filled seats: ' + numOfFilledSeats + '<br />Vacant seats:' + (numOfSeats - numOfFilledSeats);
        }

				makePolygon(doc.co, color, infoString);
			});

    }

  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDllCUiwagZYbAgEG92cGnYYdMjwx7_XvY&callback=initMap"></script>
</body>
