<section id="news" class="section--center mdl-grid mdl-shadow--2dp">
  <div class="mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-card__supporting-text">
      <h1>County Committee News</h1>
    </div>
    <div class="mdl-card__actions">
      <a href="/" class="mdl-button">Back to home</a>
    </div>
  </div>
  {{#each this.news_links}}
  <div class="mdl-card mdl-cell mdl-cell--6-col">
    <a href="{{url}}" target="_blank"><div class="mdl-card__media mdl-color-text--grey-50" style="background-image: url({{image}}); background-size: cover; background-repeat:no-repeat; height: 300px" >
      
       </div>
    
    <div class="mdl-color-text--grey-600 mdl-card__supporting-text">
      
      <h5 class="mdl-card__title-text">{{title}}</h5>
      
      
    </div>
    <div class="mdl-card__supporting-text">
      {{description}}
    </div>
    <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
      <div>
        <strong>{{site_name}}</strong>
      </div>
      <div>
        <span>{{dateFormat published_on "MMMM Do, YYYY"}}</span>
      </div>
    </div>
  </a>
</div>
{{/each}}
{{> pagination}}
</section>