<style>
	#map {
		height: 500px;
	}
</style>

<div id="map" class="mdl-card mdl-cell mdl-cell--12-col"></div>

<script>
	var infoWindow;
	var map;

	function initGoogleMap() {
		map = new google.maps.Map(document.getElementById('map'), {
			center: { lat: {{lat}}, lng: {{long}} },
			zoom: 13,
			scrollwheel: false
		});

		infoWindow = new google.maps.InfoWindow;

		new google.maps.Marker({
			position: { lat: {{lat}}, lng: {{long}} },
			map: map
		});

		// need to use this because the scope is screwy
		var makePolygon = function(paths, color, contentString) {
			new google.maps.Polygon({
				paths: paths,
				strokeColor: 333333,
				strokeOpacity: 0.9,
				strokeWeight: 1,
				fillColor: color,
				fillOpacity: 0.8,
				map: map
			})
			.addListener('click', function(event) {
				infoWindow.setContent(contentString);
				infoWindow.setPosition(event.latLng);

				infoWindow.open(map);
			});
		};

		var cleanedAllGeomDocsInAd = {{{cleanedAllGeomDocsInAd}}};
		var filledColor = '#1874CD';
		var partiallyFilledColor = '#CAE1FF';
		var vacantColor = '#EFEFEF';
		var nodataColor = '#FFFFFF';

		_.forEach(cleanedAllGeomDocsInAd, function(doc) {
			var coordinates = doc.co;
			var ed = doc.ed;
			var numOfSeats = doc.ns;
			var numOfFilledSeats = doc.nf;

			var infoStringStart = 'Election District: ' + ed + '<br />';
			var infoString, color;

			if (numOfSeats === 0) {
				infoString = infoStringStart + 'No seat data';
				color = nodataColor;
			}
			else {

				if (numOfFilledSeats == numOfSeats) {
					color = filledColor;
				} else if (numOfFilledSeats > 0 && numOfFilledSeats < numOfSeats) {
					color = partiallyFilledColor;
				} else {
					color = vacantColor;
				}

				infoString = infoStringStart + 'Filled seats: ' + numOfFilledSeats + '<br />Vacant seats:' + (numOfSeats - numOfFilledSeats);
			}


			makePolygon(doc.co, color, infoString);
		});

	}
</script>
