
<div id="cc-list-table" class="">

  <ul class="pagination"></ul>

 {{#if members}}

  <table id="cc-member-table" class="mdl-data-table mdl-js-data-table">
    {{#each members}}
    {{#if @first}}
    <thead>
      <tr>
        {{#each this}}
        <th class="sort" data-sort="{{@key}}">{{@key}}</th>
        {{/each}}
      </tr>
    </thead>
     <tbody class="list" >
    {{/if}}
   
        <tr>
          {{#each this}}

         
          <td class="{{@key}}" >
           
          <span id="{{@../index}}-{{@key}}-{{@index}}">{{this}}</span>
 
{{#if_eq this 'Appointed'}}
          <div class="mdl-tooltip disclaimer" for="{{@../index}}-{{@key}}-{{@index}}">
Appointed members serve at the pleasure<br/> of the executive committee.<br/>These are unelected positions and expire at at the end of each cc term.
          </div>
      {{/if_eq}}
 </td>
 
    {{/each}}
        </tr>
  {{/each}}
      
    </tbody>
  </table>

{{else}}

<p><i class="material-icons">error_outline</i> Sorry, seat information not available for this  district.</p>

<p><a href="/contact">Contact us</a> if you would like to request data for this ED.</p>
{{/if}}

</div>
 
  <small class="mobile-tip">Table is scrollable on mobile devices.</small>

  <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.js"></script>

  <script>

    
    function initTable() {
      var sortHeaders = document.querySelectorAll('#cc-list-table thead .sort')

      var valueNames = [];

      sortHeaders.forEach(function(elem,i) {
        valueNames.push(elem.innerText);
      });

      var options = {
        valueNames: valueNames,
      };

      {{#if membersJSON}}
        options.pagination = true;
        options.page = 25;
        options.indexAsync = true;
      {{/if}}

      var ccList = new List('cc-list-table', options);

      {{#if membersJSON}}
        
        var otherMembers = {{{membersJSON}}};
       
        ccList.add(otherMembers, function(items) {
        });
   
      {{/if}}

    }

    if (document.querySelector('.mdl-data-table')) {
      initTable();
    }

  </script>